<div class="container auth">
        
    <div class="col-lg-4 offset-lg-4" >
            <div class="sign-in-head">
            <button mat-fab class="user-signin" style="box-shadow:unset"><mat-icon matListIcon>person
                </mat-icon></button>
                <p >Sign In</p>
            </div>
        <form (ngSubmit)="onSignin(f)" #f="ngForm" class="auth-form">
                              
        <div class="form-group">
            
            <input type="email" id="email" placeholder = "Email" name="email" ngModel class="form-control" required>
        </div>
        
        <div class="form-group">
            
            <input type="password" id="password" placeholder = "Password" name="password" ngModel class="form-control"  required>
        </div>
        <button type="submit" [disabled]="f.invalid" class="btn btn-primary btn-block">Sign In</button>
        </form>
        <div class="password">
                <span class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          Remember Me
                        </label>
                </span>
                <span class="pull-right">
                    Forgot your password?
                </span>
        </div>
        <div class="no-account">
            <span class="">Not Signed Up?</span> <span class="create-account"><a href="/signup">Create Account</a></span>
        </div>
    </div>
</div>