<div class="home">
    <div class="banner">
    <div class="container">
        <div class="row back">
            <div class="col-sm-12">
                <p class="cap offset-md-6">"For the earth will be filled with the knowledge of the glory of the LORD,
                     as the waters cover the sea."<br><span>Habakkuk 2:14</span></p>

            </div>
        </div>
    </div>
</div>
<!-- Carousel -->
<div class="container second">
<!-- <ngb-carousel>
    <ng-template ngbSlide>
        <div class="row">
            <div class="carousel-caption col-md-8">
                   
                    <p>
                        Studying the Rhapsody of Realities as never been this easy
                    </p>
                  </div>
           <div class="col-md-4">
            <img class="img-fluid float-right" src="assets/img/rhapsody.gif" alt="Random first slide">
            </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
            <div class="row">
                    <div class="carousel-caption col-md-8">
                            
                            <p>
                                With collapsible further reading verses section ....
                            </p>
                          </div>
                   <div class="col-md-4">
                    <img class="img-fluid float-right" src="assets/img/further.gif" alt="Random first slide">
                   </div>
              </div>
    </ng-template>
    <ng-template ngbSlide>
            <div class="row">
                    <div class="carousel-caption col-md-8">
                          
                            <p>
                                And an in-built bible application in over 800 languages.
                            </p>
                          </div>
                   <div class="col-md-4 ">
                    <img class="img-fluid float-right" src="assets/img/sample_17.gif" alt="Random first slide">
                    </div>
              </div>
    </ng-template>
  </ngb-carousel> -->
  </div>
  <!-- Rhapsody TV -->
  <div class="container-fluid third tv">
     
                     
</div>
<footer></footer>